.footer {
  border-top: 1px solid #e7e7e7;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: end;
  margin: 15px;
}

.button-cancel {
  height: 30px;
  border: none;
  background: #faf8f8;
  cursor: pointer;
  border-radius: 4px;
}
.button-cancel:hover {
  background: #f5f4f4;
}
.button-cancel:active {
  background: #dedcdc;
}

.button-add {
  height: 30px;
  margin-left: 30px;
  background: #faf8f8;
  border-radius: 4px;
  cursor: pointer;
}

.button-add:hover {
  background: #efeeee;
}
.button-add:active {
  background: #d2d0d0;
}