.node {
  height: 30px;
  margin-top: 15px;
  margin-bottom: 15px;
  background: #e0adad;
}

.node-title {
  color: black;
  padding-top: 5px;
  align-items: center;
  margin-left: 15px;
}

.node-title span {

  font-weight: 700;
}